@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.icons button {
  border: none;
  background-color: inherit;
}
body {
  font-family: "Poppins";
  padding: 1rem;
}

.text h2 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.text h3 {
  margin: 1rem 0;
  font-weight: 20;
}

.darkmode {
  background-color: black;
  color: white;
}

textarea {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
#titleText {
  font-size: 1.5rem;
}
